<h3 class = 'media-heading'>Hello: <%= @user.email %></h3>
You have <%= pluralize(@user.items.count, 'items') %> listed


<%= render @items %>

<h4>Make new list! </h4><br>
<%= render partial: 'items/form', locals: {user: @user} %>
