<h1>About To Do List</h1>

<h3>It is a self-destructing app which automatically deletes tasks after 7 days.</h3>
<h3>It keeps your life much more focused on and free of clutter!</h3>
<h3>It is designed to improve your productivity, say more then 0% by statistics. Give it try!!!</h3>
