<div class="jumbotron text-center">
  <div class="text-vertical-center">
    <h1>To Do List</h1>
      <h3>To Do List is a self-destructing app which automatically deletes tasks from the list if you have not done them in 7 days.</h3>
      <h3>It keeps your life much more focused on <em>To-Do-List</em> and free of clutter!</h3>
    <br>

  </div>
